h1, h2, h3, h4, h5, h6 {
  font-family: $fuente-principal;
  font-weight: bold;
  margin-bottom: 1rem;
  color: $color-primario;
  line-height: 1.2;
}

p {
  font-family: $fuente-principal;
  color: $color-texto;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1rem;
}
