footer {
  background-color: $color-primario;
  color: $color-secundario;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: 40px;

  p {
    margin: 0;
    color: $color-secundario;
  }

  @include respond-to(mobile) {
    font-size: 0.8rem;
    padding: 15px;
  }
}
