.card {
  background-color: lighten($color-fondo, 2%);
  border: 1px solid lighten($color-primario, 80%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    width: 100%;
    height: 230px; // <-- Unificado con home
    object-fit: cover;

    @include respond-to(mobile) {
      height: 200px;
    }
  }

  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-text {
      font-weight: bold;
      margin-bottom: 10px;
      color: $color-texto;
    }

    .btn {
      @include boton-negro; // <-- Estilo negro unificado como en home
    }
  }
}
