.navbar {
  background-color: $color-principal;

  .navbar-brand {
    font-weight: bold;
    color: $color-secundario;

    &:hover {
      color: lighten($color-secundario, 10%);
    }
  }

  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;

    &.active {
      border-bottom: 2px solid white;
    }

    &:hover {
      color: $color-secundario;
    }
  }
}

