// VARIABLES DE COLORES
$color-primario: #000;
$color-secundario: #fff;
$color-acento: #6c63ff;
$color-fondo: #f2f4f8;
$color-texto: #333;

// TIPOGRAFÍAS
$fuente-principal: 'Segoe UI', sans-serif;

// BREAKPOINTS
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
