// COLORES PRINCIPALES
$color-principal: #000;
$color-secundario: #6c63ff;
$color-fondo: #f2f4f8;
$color-texto: #333;
$color-footer: #2c3e50;
$color-card: #e5e9f0;

// TIPOGRAFÍA
$fuente-principal: 'Segoe UI', sans-serif;

// BREAKPOINTS
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
